* {
  margin: 0;
  padding: 0;
}

.ViewBill {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 2px solid greenyellow; */
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  animation: fadeIn 0.6s ease-in-out;
  padding: 2rem;
  margin-top: 10px;
  width: 65vw;
  margin: auto;
  margin-top: 15px;
}

.vob {
  /* border:2px solid pink; */
  display: flex;
  justify-content: flex-end;
}
.billtable {
  /* border:2px solid purple; */
  padding: 0;
  margin-top: 0;
}

.billtable1 {
  /* border:2px solid green; */
  padding: 0;
  margin: 0;
  height: 57vh;
}

.btn2,
.viewbtn {
  background-color: #1d4ea3 !important;
}

@media (max-width: 768px) {
  .ViewBill {
    width: 100vw;
    padding: 10px;
  }
  .billtable {
    width: 100% !important;
  }
  .billtable1 {
    margin: 0 !important;
  }
}
